
#header-image {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 75vh;
  max-height: 40vw;
  background-image: url(/assets/Header-ht21-v2.png);
  background-position: center;
  background-size: cover;
}
