<div id="tab-content" class="tab-content">
  <div class="start-page-post">
    <h3>Öppet rep med Orbis Primus!</h3>
    <h5>September 4, 2020</h5>
    <p>
      Hej alla kvinnor och ickebinära!
      Gillar du att sjunga? Skriva gückel? Och bara i allmänhet ha skoj? Orbis Primus bjuder in till öppet
      rep onsdagarna 9:e och 16:e september - klart du ska komma!
    </p>
    <br />
    <br />
    <iframe #youtube width="560" [style.height.px]="youtube.getBoundingClientRect().width * 0.5625"
            style="width:80%; max-width: 560px;" src="https://www.youtube.com/embed/hmudPpF2oE8" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    <br />
    <p>
      Nu har du möjlighet att hänga tillsammans med oss i Orbis Primus. Du får prova på att sjunga några av
      våra gückel och du har självklart möjlighet att ställa alla frågor du kan komma på. Under repet
      kommer det dessutom bjudas på fika! Exakt plats för repen kommer att meddelas närmare inpå. Om vädret
      tillåter det kommer vi att vara utomhus, annars bokar vi en rymlig sal, allt i enlighet med
      Folkhälsomyndighetens rekommendationer för körverksamhet.
    </p>
    <mat-card>
      <p>
        Vad: Öppet rep med Orbis Primus
        <br />
        När: Onsdagarna 9:e och 16:e september
        <br />
        Tid: 18:15 - 20.00
        <br />
        Var: Campus Valla, återkommer om exakt plats
      </p>
    </mat-card>
    <br /><br />

    <p>
      Om du är intresserad av att komma får du gärna fylla i <a href="https://forms.gle/hzJH9px4nefYs53j8">detta formulär</a>. Om du är intresserad av att gå
      med i Orbis Primus men inte har möjlighet att närvara något av dessa datum, fyll i formuläret ändå, så
      tar vi kontakt med dig! OBS anmälan är givetvis inte bindande.
    </p><p>

      Checka gärna in våra sociala medier så länge för att få en känsla av hur det går till på våra rep och när vi umgås.
      <br />
      Facebook: <a href="https://www.facebook.com/orbisprimus">Orbis Primus</a>
      <br />
      Instagram: <a href="https://www.instagram.com/orbisprimus/">orbisprimus</a>

    </p><p>
      Hoppas vi ses på repen!
      <br />
      Allt gott,
      <br />
      Orbis Primus
    </p>
    <br />
    <img src="assets/oppet_rep_rect.png" style="width:80%; max-width: 600px;">
    <br />
    <hr />
  </div>

  <div class="start-page-post">
    <h3>Julhälsning från Orbis Primus och Signhild Svahn</h3>
    <h5>December 13, 2019</h5>
    <iframe #youtube width="560" [style.height.px]="youtube.getBoundingClientRect().width * 0.5625"
            style="width:80%; max-width: 560px;" src="https://www.youtube.com/embed/npVXc4iwl5Q" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br /><br />
    <p>
      Orbis Primus och Signhild Svahn vill passa på att önska er alla en riktigt god jul!<br /><br />
      Glöm inte att om du är tjej eller icke-binär och också vill sjunga och skriva gückel, så kan du ansöka om att gå med i Orbis här på hemsidan!
      Det går även bra att skicka bokningsförfrågningar via formuläret under "Boka oss".
    </p>
    <hr />
  </div>

  <div class="start-page-post">
    <h3>Gückla med oss!</h3>
    <h5><i>Februari 10, 2019</i></h5>
    <iframe #youtube width="560" [style.height.px]="youtube.getBoundingClientRect().width * 0.5625"
            style="width:80%; max-width: 560px;" src="https://www.youtube.com/embed/iK92CqSELiQ" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br /><br />
    <p>
      Tjej eller icke-binär? Trött på att bara sjunga i duschen där ingen hör dina ljuva toner? <br />
      Då borde DU söka till Orbis Primus! Vi gücklar, myshänger och dricker vin tillsammans, hur nice låter inte det? <br />
      Du hittar ansökningsformuläret här på hemsidan under fliken "Ansök".
      <br /><br />
      Hoppas vi ses!
    </p>
    <hr />
  </div>

  <div class="start-page-post">
    <h3>God jul önskar Orbis Primus!</h3>
    <h5><i>December 21, 2018</i></h5>
    <iframe #youtube width="560" [style.height.px]="youtube.getBoundingClientRect().width * 0.5625"
            style="width:80%; max-width: 560px;" src="https://www.youtube.com/embed/fk63xpPdRY0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br /><br />
    <p>
      Ho ho ho!
      <br /><br />
      Orbis Primus vill passa på att sprida lite julkänsla nu när läsperioden lider mot sitt slut.
      Låt dom ljuva tonerna från Orbis Primus julskiva förgylla eran jul så ses vi 2019!
      <br /><br />
      Ha en riktigt god jul!
      <br /><br />
      <img src="assets/christmas.png" style="width:80%; max-width: 600px;">
    </p>
    <hr />
  </div>

  <div class="start-page-post">
    <h3>Webbformulär</h3>
    <h5><i>Augusti 20, 2018</i></h5>
    <img src="assets/cat-typing.jpg" style="width:80%; max-width: 600px;">
    <br /><br />
    <p>
      Hallå!
      <br /><br />
      Har ni funderat på hur man kan boka oss? Nu finns ett webbformulär här på hemsidan under "Boka oss"
      där ni enkelt kan skicka bokningsförfrågningar till oss. Det finns även ett kontaktformulär under
      "Kontakta oss" där ni kan skicka övriga frågor.
      <br /><br />
      Vi hörs!
    </p>
    <hr />
  </div>

  <div class="start-page-post">
    <h3>Märkesbacken har fått sig ett lyft</h3>
    <h5><i>Augusti 11, 2018</i></h5>
    <a href="http://www.instagram.com/orbisprimus">
      <img src="assets/markesbacken.jpg" style="width:80%; max-width: 600px;">
    </a>
    <br /><br />
    <p>
      Hej!
      <br /><br />
      Nu när Orbis Primus har blivit en LUST-godkänd förening har vi även fått äran att pryda märkesbacken med vår fina logga!
      Försök hitta den nästa gång du trampar upp för backen, kanske blir du påmind om att boka oss till er nästa sittning?
      <br /><br />
      Ha det bäst!
    </p>
    <hr />
  </div>

  <div class="start-page-post">
    <h3>Instagram</h3>
    <h5><i>Augusti 11, 2018</i></h5>
    <a href="http://www.instagram.com/orbisprimus">
      <img src="assets/instagram.png" style="width:80%; max-width: 200px;">
    </a>
    <br /><br />
    <p>
      Hallå alla influencers där ute!
      <br /><br />
      Nu har Orbis Primus intagit Instagramscenen, gå in och följ oss där vetja!
      <br /><br />
      Ciao!
    </p>
    <hr />
  </div>

  <div class="start-page-post">
    <h3>Ny hemsida!</h3>
    <h5><i>Juli 12, 2018</i></h5>
    <img src="assets/op-backe.JPG" style="width:80%; max-width: 600px;">
    <br /><br />
    <p>
      Hej på er!
      <br /><br />
      Nu har vi äntligen skaffat en hemsida. Här hittar ni info om vad som händer i Orbis Primus, hur ni kan boka oss eller bara höra av er om ni har några funderingar.
      <br /><br />
      Välkommen!
    </p>
  </div>
</div>
