<div id="tab-content" class="tab-content">
  <div class="start-page-post">
    <h1>Webbformulär</h1>
    <h5><i>Juli 12, 2018</i></h5>
    <p>
      Hej!
      <br/><br/>
      Nu finns webbformulär här på hemsidan under "Boka oss" där ni enkelt kan skicka bokningsförfrågningar till oss.
      Det finns även ett kontaktformulär under "Kontakta oss" där ni kan skicka övriga frågor.
      <br/><br/>
      Vi hörs!
    </p>
    <hr/>
  </div>

  <div class="start-page-post">
    <h1>Ny hemsida!</h1>
    <h5><i>Juli 12, 2018</i></h5>
    <p>
      Hej på er!
      <br/><br/>
      Nu har vi äntligen skaffat en hemsida. Här hittar ni info om vad som händer i Orbis Primus, hur ni kan boka oss eller bara höra av er om ni har några funderingar.
      <br/><br/>
      Välkommen!
    </p>
    <hr/>
  </div>

  

</div>
