<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div *ngIf="this.isSuccessful">
    <div class="modal-dialog modal-notify modal-success" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading lead">Meddelande skickat!</p>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="this.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            <p>Tack för ditt meddelande, vi svarar så fort vi kan!</p>
          </div>
        </div>

        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect (click)="this.hide()">Stäng</a>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>

  <div *ngIf="!this.isSuccessful">
    <div class="modal-dialog modal-notify modal-danger" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading">Meddelandet kunde inte skickas</p>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="this.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-times fa-4x mb-3 animated rotateIn"></i>
            <p>Vi kunde tyvärr inte skicka ditt meddelande. Prova igen lite senare.</p>
          </div>
        </div>

        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect (click)="this.hide()">Stäng</a>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
</div>