<div class="tab-content">
  <h2>Testa på att gyckla med oss!</h2>
  
<br />
<p>
 Nästa Prova-på-rep är Torsdagarna 7, 14 & 21 September kl 18:15-20:00. Mer information 
 finns i det här <a href ="https://fb.me/e/1sTXvqrhW">Facebookevenemanget</a>. 
 Varmt välkomna! Vi bjuder på fika. :)
 </p>
 <p> Vid frågor om rekryteringen kan ni kontakta Anna på <a href="mailto:kontakt@orbisprimus.se" target="_blank" rel="noopener noreferrer">kontakt@orbisprimus.se</a>
 </p>
 <!--
 Just nu är ansökningsperioden stängd. Välkommen att ansöka hösten 2023 igen.
</p>
<p>
  Vid frågor om rekryteringen kan ni kontakta Hanna på <a href="mailto:kontakt@orbisprimus.se">kontakt@orbisprimus.se</a>
</p>
  <br />
-->

</div>