<div class="tab-content">
  <h2>Vill du vara med oss och gückla?</h2>
  <br />
  <p>I dagsläget kan man bara ansöka till att gå med i Orbis Primus under våra rekryteringsperioder. Dessa är (oftast) i samband med starten av vår- och höstterminen. Kan man inte bärga sig (eller vill bli påmind) får man gärna höra av sig till våra rekryteringsansvariga med frågor eller att be om påminnelse när rekryteringsperioderna börjar!</p>
<p>Rekyrteringsansvarigas mejl:
<br/>
<a href="mailto:kontakt@orbisprimus.se">kontakt@orbisprimus.se</a>
</p>
</div>
