<div class="tab-content">
  <h2>Ansökningsperioden är nu stängd!</h2>
  
<br />
<p>
 <!--Nästa Prova-på-rep är Onsdag 21 September 2022 kl 18:15-20:00 i S26 (C-huset). Mer information 
 finns i det här <a href ="https://www.facebook.com/events/629529478474703/629531331807851/?active_tab=about">Facebookevenemanget</a>. 
 Varmt välkomna! Vi bjuder på fika. :)-->
 Just nu är ansökningsperioden stängd. Välkommen att ansöka hösten 2023 igen.
</p>
<p>
  Vid frågor om rekryteringen kan ni kontakta Hanna på <a href="mailto:kontakt@orbisprimus.se">kontakt@orbisprimus.se</a>
</p>
  <br />

</div>