<div class="tab-content">
  <h2>Vill ni att vi ska komma och gückla för er?</h2>
  <br/>
  <p>
    Vad roligt! Fyll i formuläret så svarar vi om vi kan så fort vi kan, eller vi svarar ju i vilket fall såklart.
  </p>
  <mat-card>
    <form #bookingForm="ngForm" (ngSubmit)="onSubmit()" class="form">
      <!-- Event description -->
      <div class="row">
        <div class="col-12">
          <mat-form-field class="form-field">
            <!--Input-->
            <input matInput id="eventDescriptionInput" name="eventDescriptionInput"
            [(ngModel)]="eventDescriptionInput" maxlength="32" placeholder="Evenemangsbeskrivning"
              [formControl]="eventDescriptionControl" required>
            <!--Check and clear-->
            <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
              <mat-icon [style.color]="'green'" *ngIf="isValidEventDescription()">done</mat-icon>
            </button>
            <button mat-button class="size-medium" *ngIf="eventDescriptionInput" matSuffix
            mat-icon-button aria-label="Clear" (click)="eventDescriptionInput = ''"
              tabindex="-1">
              <mat-icon>close</mat-icon>
            </button>
            <!--Error-->
            <mat-error *ngIf="eventDescriptionControl.hasError('required')">
              Vad handlar det om för tillställning?</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Location -->
      <div class="row">
        <div class="col-12">
          <mat-form-field class="form-field">
            <!--Input-->
            <input matInput name="locationInput" [(ngModel)]="locationInput" maxlength="32"
            placeholder="Plats" [formControl]="locationControl"
              required>
            <!--Check and clear-->
            <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
              <mat-icon [style.color]="'green'" *ngIf="isValidLocation()">done</mat-icon>
            </button>
            <button mat-button class="size-medium" *ngIf="locationInput" matSuffix
            mat-icon-button aria-label="Clear" (click)="locationInput = ''"
              tabindex="-1">
              <mat-icon>close</mat-icon>
            </button>
            <!--Error-->
            <mat-error *ngIf="locationControl.hasError('required')">
              Vart bär det av?
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Date -->
      <div class="row">
        <div class="col-12">
          <mat-form-field class="form-field">
            <!--Input-->
            <input matInput id="dateInput" name="dateInput"
            [(ngModel)]="dateInput" placeholder="Datum"
              [style.color]="isValidDate() ? 'rgb(104, 9, 9)' : 'gray'" maxlength="10"
              (input)="setDateToDatePicker();"
              [formControl]="dateControl" appDate required>
            <!--Check and clear-->
            <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
              <mat-icon [style.color]="'green'" *ngIf="isValidDate()">done</mat-icon>
            </button>
            <button mat-button class="size-medium" *ngIf="dateInput" matSuffix
            mat-icon-button aria-label="Clear" (click)="dateInput = ''"
              tabindex="-1">
              <mat-icon>close</mat-icon>
            </button>
            <button type="button" mat-button class="size-medium" mat-icon-button matSuffix
            (click)="picker.open()" tabindex="-1">
              <mat-icon>date_range</mat-icon>
            </button>
            <!--DatePicker-->
            <mat-datepicker #picker></mat-datepicker>
            <!--Hidden input connected to the date picker-->
            <input id="datepickerInput" name="datepickerInput"
            [(ngModel)]="datepickerInput"
              [matDatepicker]="picker" (dateInput)="setDateFromDatepicker($event);"
              type="hidden">
            <!--Errors-->
            <mat-error *ngIf="dateControl.hasError('required')">
              Vilket datum vill ni boka oss?
            </mat-error>
            <mat-error *ngIf="!dateControl.hasError('required') &&
                              dateControl.hasError('dateFormat')">
              Vi vill ha datumet på formatet ÅÅÅÅ-MM-DD, tack!
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Name contact person -->
      <div class="row">
        <div class="col-12">
          <mat-form-field class="form-field">
            <!--Input-->
            <input matInput name="nameContactPersonInput" [(ngModel)]="nameContactPersonInput" maxlength="32"
            placeholder="Namn kontaktperson" [formControl]="nameContactPersonControl"
              required>
            <!--Check and clear-->
            <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
              <mat-icon [style.color]="'green'" *ngIf="isValidNameContactPerson()">done</mat-icon>
            </button>
            <button mat-button class="size-medium" *ngIf="nameContactPersonInput" matSuffix
            mat-icon-button aria-label="Clear" (click)="nameContactPersonInput = ''"
              tabindex="-1">
              <mat-icon>close</mat-icon>
            </button>
            <!--Error-->
            <mat-error *ngIf="nameContactPersonControl.hasError('required')">
              Vem har vi äran att e-breva med?
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- E-mail contact person -->
      <div class="row">
        <div class="col-12">
          <mat-form-field class="form-field">
            <!--Input-->
            <input matInput name="emailContactPersonInput" [(ngModel)]="emailContactPersonInput" maxlength="32"
            placeholder="E-postadress kontaktperson" [formControl]="emailContactPersonControl"
              required>
            <!--Check and clear-->
            <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
              <mat-icon [style.color]="'green'" *ngIf="isValidEmailContactPerson()">done</mat-icon>
            </button>
            <button mat-button class="size-medium" *ngIf="emailContactPersonInput" matSuffix
            mat-icon-button aria-label="Clear" (click)="emailContactPersonInput = ''"
              tabindex="-1">
              <mat-icon>close</mat-icon>
            </button>
            <!--Error-->
            <mat-error *ngIf="emailContactPersonControl.hasError('required')">
              Lättast är nog om du anger en e-postadress.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Other information -->
      <div class="row">
        <div class="col-12">
          <mat-form-field class="form-field">
            <textarea matInput name="otherInput" [(ngModel)]="otherInput"
            maxlength="200" placeholder="Övrig information" matTextareaAutosize
              matAutosizeMaxRows="5">
            </textarea>
            <button mat-button class="size-medium textarea-button" *ngIf="otherInput"
            matSuffix mat-icon-button aria-label="Clear"
              (click)="otherInput = ''" tabindex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button color="warn" type="submit" class="submit-button">Skicka förfrågan!</button>
    </form>
  </mat-card>
</div>