<div class="contact-content">
  <div>
    <img src="\assets\contact-pics\ebba.jpg" />
    <h3>Ordförande</h3>
    <br />
    <p>Ebba Fogelberg: </p>
    <br />
    <a href="mailto:ordforande@orbisprimus.se">ordforande@orbisprimus.se</a>
  </div>
  <div>
    <img src="\assets\contact-pics\jennifer.jpg" />
    <h3>Kassör</h3>
    <br />
    <p>Jennifer Österman: </p>
    <br />
    <a href="mailto:kassor@orbisprimus.se">kassor@orbisprimus.se</a>
  </div>
  <div>
    <img src="\assets\contact-pics\felicia.jpg" />
    <h3>PR-ansvarig</h3>
    <br />
    <p>Felicia Flod: </p>
    <br />
    <a href="mailto:pr@orbisprimus.se">pr@orbisprimus.se</a>
    <br />
    <p>Frågor angående rekrytering? </p><a href="mailto:kontakt@orbisprimus.se">kontakt@orbisprimus.se</a>
  </div>

  <div>
    <img src="\assets\contact-pics\matilda.jpg" />
    <h3>Bokningsansvarig</h3>
    <br />
    <p>Matilda Olsson Kaalhus: </p>
    <br />
    <a href="mailto:bokning@orbisprimus.se">bokning@orbisprimus.se</a>
    <br />
    <p>Frågor angående rekrytering? </p><a href="mailto:kontakt@orbisprimus.se">kontakt@orbisprimus.se</a>
  </div>

</div>
