<div class="tab-content">
  <h2>Undrar du något?</h2>
  <br/>
  <p>
    Här kan du ställa frågor till oss!
  </p>
  <mat-card>
    <form #contactForm="ngForm" (ngSubmit)="onSubmit()" class="form">
      <!-- Question -->
      <div class="row">
        <div class="col-12">
          <mat-form-field class="form-field">
            <!--Input-->
            <textarea matInput name="questionInput" [(ngModel)]="questionInput"
            maxlength="200" placeholder="Fråga" matTextareaAutosize
              matAutosizeMaxRows="10" required></textarea>
            <!--Check and clear-->
            <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
              <mat-icon [style.color]="'green'" *ngIf="isValidQuestion()">done</mat-icon>
            </button>
            <button mat-button class="size-medium" *ngIf="questionInput" matSuffix
            mat-icon-button aria-label="Clear" (click)="questionInput = ''" tabindex="-1">
              <mat-icon>close</mat-icon>
            </button>
            <!--Error-->
            <mat-error *ngIf="questionControl.hasError('required')">
              Undrar du ingenting? Inte ens varför Sabina inte gillar lök?</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Name contact person -->
      <div class="row">
        <div class="col-12">
          <mat-form-field class="form-field">
            <!--Input-->
            <input matInput name="nameContactPersonInput" [(ngModel)]="nameContactPersonInput" maxlength="32"
            placeholder="Ditt namn" [formControl]="nameContactPersonControl"
              required>
            <!--Check and clear-->
            <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
              <mat-icon [style.color]="'green'" *ngIf="isValidNameContactPerson()">done</mat-icon>
            </button>
            <button mat-button class="size-medium" *ngIf="nameContactPersonInput" matSuffix
            mat-icon-button aria-label="Clear" (click)="nameContactPersonInput = ''"
              tabindex="-1">
              <mat-icon>close</mat-icon>
            </button>
            <!--Error-->
            <mat-error *ngIf="nameContactPersonControl.hasError('required')">
              Vad ska vi kalla dig?
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- E-mail contact person -->
      <div class="row">
        <div class="col-12">
          <mat-form-field class="form-field">
            <!--Input-->
            <input matInput name="emailContactPersonInput" [(ngModel)]="emailContactPersonInput" maxlength="32"
            placeholder="Din e-postadress" [formControl]="emailContactPersonControl"
              required>
            <!--Check and clear-->
            <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
              <mat-icon [style.color]="'green'" *ngIf="isValidEmailContactPerson()">done</mat-icon>
            </button>
            <button mat-button class="size-medium" *ngIf="emailContactPersonInput" matSuffix
            mat-icon-button aria-label="Clear" (click)="emailContactPersonInput = ''"
              tabindex="-1">
              <mat-icon>close</mat-icon>
            </button>
            <!--Error-->
            <mat-error *ngIf="emailContactPersonControl.hasError('required')">
              Ingen e-postadress? Då får det bli röksignaler!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="warn" type="submit" class="submit-button">Skicka förfrågan!</button>
    </form>
  </mat-card>
</div>