.mat-tab-header {
  background-color: #5d1932; /*rgba(121, 30, 64, 1);*/
  position: sticky !important;
  position: -webkit-sticky !important; /* For macOS/iOS Safari */
  top: 0 !important; /* Sets the sticky toolbar to be on top */
  z-index: 999 !important;
}

.mat-tab-label {
    color: white;
}

.mat-tab-label.mat-tab-label-active {
    font-weight: bold;
    color: white;
}

.mat-tab-labels {
    justify-content: center;
}

.mat-ink-bar {
    background-color: rgb(255, 255, 255) !important;
}

.mat-tab-body-wrapper {
  flex-grow: 1 !important;
  background-color: rgba(104, 9, 9, 0.1);
  background-repeat: repeat !important;
  background-position: center !important;
}


.mat-tab-group {
  min-height: calc(100vh - 100px) !important;
  display: flex !important;
  flex-direction: column !important;
}

.mat-tab-label-content {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.mat-raised-button {
  color: white;
}

.tab-content p {
  color: rgb(104, 9, 9);
  margin-bottom: 15px;
  width: 40%;
  min-width: 300px;
  text-align: center;
  max-width: 900px;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-block;
}

.tab-content hr {
    display: inline-block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(104, 9, 9, 0.3);
    margin: 30px 15% 35px 15%;
    width: 70%;
    max-width: 700px;
    padding: 0;
}

.tab-content h2, .tab-content h3 {
  text-align: center;
  color: rgb(104, 9, 9);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Goudy Bookletter 1911', serif;
}

.tab-content {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center !important;
  font-family: 'Roboto';
  font-weight: 300;
}


  .tab-content a {
    color: rgba(104, 9, 9, 0.7);
    font-weight: bold;
  }

