/* Styles for tab labels */
.mat-tab-header {
    background-color: rgba(105, 8, 8, 0.849);
}

.mat-tab-label {
    color: white;
}

.mat-tab-label.mat-tab-label-active {
    font-weight: bold;
    background-color: rgba(156, 33, 33, 0.685);
    color: white;
}

.mat-tab-labels {
    justify-content: center;
}

.mat-ink-bar {
    background-color: rgb(255, 255, 255) !important;
}

.mat-tab-body-wrapper {
    flex-grow: 1 !important;
    background-color: rgb(245, 228, 228);
}

.mat-tab-group {
    min-height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.tab-content p {
    color: rgb(104, 9, 9);
    margin-bottom:30px;
    margin-left:25%;
    margin-right:25%;
    font-family:"Noto Serif", Georgia, serif;
}

.tab-content hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(104, 9, 9);
    margin: 35px 15%;
    padding: 0;
}

.tab-content {
    margin-top: 30px;
    width: 100% !important;
    text-align: center !important;
}


.facebookButton {
    cursor:pointer;
    border:0;
    width:60px;
    height:60px;
    background:url(/assets/facebookButton.png) center no-repeat;
    background-size:60px;
    position:relative;
    display:inline-block;
    transform: translate(0%, -30%);
}