/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
    padding: 0;
    margin: 0;
    text-align:center;
}

body {
    overflow-y: scroll;
}

html, body {
    min-height: 100vh;
}

/* Form CSS */
.form {
    display: inline;
    vertical-align: center !important;
} 

.form p {
    max-width: 550px !important;
    margin-bottom: 0px !important;
    margin-top: 15px !important;
}

.form-field, form p {
    width: 80% !important;
    color:rgb(104, 9, 9);
    font-family:"Palantinos", Verdana, sans-serif;
}

.form-field {
    margin-top: 15px !important;
}

.form-field.question-above {
    margin-top: 0px !important;
}

.mat-card {
    width: 80% !important;
    max-width: 700px !important;
    display: inline-block !important;
    margin-right: 10%;
    margin-left: 10%;
}

.tab-content .mat-card p, .tab-content .mat-card h3 {
    text-align: center;
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.mat-form-field-underline {
    background-color: rgb(155, 37, 37) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: rgb(155, 37, 37) !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #f44336 !important;
}

.mat-error {
    padding-top: 2px;
    font-size: 13px !important;
}

.mat-form-field-label {
    padding-top: 4px;
    font-size: 15px !important;
    white-space: initial;
}

.mat-form-field-label, .mat-form-field-required-marker {
    color: rgb(155, 37, 37) !important;
    text-align: left;
}

.mat-form-field-infix, .mat-error {
    text-align: left !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label, .mat-form-field-required-marker {
    color: #f44336 !important;
}

.mat-calendar-body-cell-content.mat-calendar-body-selected {
    background-color: rgb(155, 37, 37) !important;
}

.submit-button {
    margin-top: 25px !important;
    background-color: rgb(155, 37, 37) !important;
}