/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
    padding: 0;
    margin: 0;
    text-align:center;
}

body {
    overflow-y: scroll;
}

html, body {
    min-height: 100vh;
}

/* Slides CSS */
.slideshowcontainer {
    max-width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: 0px;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#slideshowslide {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#slideshowslide img {
    width: 100%;
    display: none;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

.visible-slide {
    display: inline-block !important;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 45%;
    min-height: 35px;
    width: auto;
    min-width: 35px;
    padding: 2%;
    color: white !important;
    background-color: rgba(168, 168, 168, 0.5);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    opacity: 0.7;
}

.prev a {
    text-align: center;
    vertical-align: middle;
}

.prev {
    left: 0;
    border-radius: 0 95% 95% 0;
}

.next {
    right: 0;
    border-radius: 95% 0 0 95%;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.479);
}

/* Play/Pause buttons */
.slideshowButton {
    position: absolute;
    display: block;
    cursor: pointer;
    background: rgba(0,0,0,0);
    opacity: 0.35;
    margin-right: 1%;
    margin-top: 1%;
    border: 0;
    right: 0;
    top: 0;
}

.slideshowButton:hover {
    opacity: 0.85   ;
}

button[name="playButton"] {
    width: 10%;
    max-width:  65px;
    height: 30%;
    max-height:  65px;
    background: url(/assets/playButton.png) center no-repeat;
    background-size: 100%;
    opacity:  0.7;
}

button[name="pauseButton"] {
    width: 10%;
    max-width:  65px;
    height: 30%;
    max-height: 65px;
    background: url(/assets/pauseButton.png) center no-repeat;
    background-size: 100%;
    opacity: 0.7;
}

#dots {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 50%;
    transform: translate(-50%) !important;
    display: block;
    margin-bottom: 0.5%;
    z-index: 1;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: rgba(102, 102, 102, 0.7);
    border-radius: 50%;
    position: relative;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:not(.active-dot):hover {
    background-color: rgba(61, 61, 61, 0.7);
}

.active-dot {
    background-color: rgba(196, 2, 2, 0.7);
}

/* Fading animation */
@-webkit-keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
}

/* Form CSS */
.form {
    display: inline;
    vertical-align: center !important;
} 

.form p {
    max-width: 550px !important;
    margin-bottom: 0px !important;
    margin-top: 15px !important;
}

.form-field, form p {
    width: 80% !important;
    color:rgb(104, 9, 9);
    font-family:"Palantinos", Verdana, sans-serif;
}

.form-field {
    margin-top: 15px !important;
}

.form-field.question-above {
    margin-top: 0px !important;
}

.mat-card {
    width: 80% !important;
    max-width: 700px !important;
    display: inline-block !important;
    margin-right: 10%;
    margin-left: 10%;
}

.tab-content .mat-card p, .tab-content .mat-card h3 {
    text-align: center;
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.mat-form-field-underline {
    background-color: rgb(155, 37, 37) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: rgb(155, 37, 37) !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #f44336 !important;
}

.mat-error {
    padding-top: 2px;
    font-size: 13px !important;
}

.mat-form-field-label {
    padding-top: 4px;
    font-size: 15px !important;
    white-space: initial;
}

.mat-form-field-label, .mat-form-field-required-marker {
    color: rgb(155, 37, 37) !important;
    text-align: left;
}

.mat-form-field-infix, .mat-error {
    text-align: left !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label, .mat-form-field-required-marker {
    color: #f44336 !important;
}

.mat-calendar-body-cell-content.mat-calendar-body-selected {
    background-color: rgb(155, 37, 37) !important;
}

.submit-button {
    margin-top: 25px !important;
    background-color: rgb(155, 37, 37) !important;
}